.about-gallery {
    width: 100%;
    height: auto;
}

.about-slide__row {
    width: 100%;
    height: 100%;
    
}

.carousel-galley-subttile {
    font-size: 24px
}
.carousel-img {
    width: 100%;
    height: 100%;
    
}
.carousel-img-zangiota {
    width: 100%;
    height: 100%;
}
.carousel-card-zangiota {
    width: 100%;
    height: 100%;
}
.carousel-card {
    width: 70%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;

    object-fit: cover;
} 

.about-gallery__title {
    font-size: 38px;
    text-align: center;
    color: rgb(236,134, 0);
    
}
.carousel-gallery-title {
    color: rgb(236,134, 0);
    font-size: 26px;
}


