main {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../images/zangiota.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__block {
    width: 100%;
    height: 100%;
    background-color: rgba(21, 21, 21, 0.508);
}

.main__card {
    width: 100%;
    height: 100%;
    padding: 150px 0;
    display: block;
}

.main__title {
    color: #fff;
    text-shadow: rgb(32, 32, 32) 2px 4px 2px;
    font-size: calc(1.8vw + 22px);
    
}
.main__title span {
    font-size: 30px;
}
.main__link-block{
    width: 100%;
    height: auto;
    margin-top: 75px;
}

.main__link{
    margin-top: 35px;
    padding: 14px 25px;
    color: #000;
    background-color: rgb(236, 134, 0);
    font-size: 18px;
    border-radius: 50px;
    transition: 0.3s ease
}

.main__link:hover{
    color: #fff;
    background-color: #000;
    transition: 0.3s;
}


@media screen and (max-width: 555px) {
    .main__link{
        padding: 12px 16px;
        font-size: 16px;
    }

}