.mapPlace {
    width: 100%;
    height: 450px;
    margin: 55px auto;
}

.mapPlace div{
    width: 100% !important;
    height: 100% !important;
}
.place_img{
    height: 50px;
    width: 50px;
}
.place_title {
    font-size: 38px;
    color: rgb(236,134, 0);
    text-align: center;
}