.video_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.video_title {
    font-size: 38px;
    color: rgb(236,134, 0);
}
.video_cl {
    color: rgb(236,134, 0);
    font-size: 26px;
    display: inline-block;
    align-self: flex-start;
    
    
}
.video_mosque {
    width: 100%;
    height: 100%;
}
.video_text {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    
}

.text_news {
    margin-left: 50px;

}